.nav-item{
    transition: 0.7s ease;
}

.nav-item a{
    color: white;
    text-decoration: none;
    transition: 0.7s ease;
    font-family: monospace;
    font-size: 20px;
}

.nav-item a:hover{
    color: purple;
}

.nav-item:hover{
    background-color: #22004d;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
.hamburger{
    cursor: pointer;
}

.hamburger.active .bar:nth-child(2){
    opacity: 0;
}
.hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}

.nav-menu{
    position: absolute;
    display: flex;
    right: -300px;
    top: 75px;
    gap: 0;
    flex-direction: column;
    background-color: rgba(38, 38, 38, 0.4);
    width: 300px;
    text-align: center;
    transition: 0.3s;
    z-index: 10;
    list-style-type: none;
    overflow: hidden;
}

.nav-item i{
    margin-right: 5px;
}

.nav-item{
    padding: 16px 0;
    border-bottom: 1px white solid;
}

.nav-menu.active{
    animation: displaymode_hamburger 0.5s forwards;
}

@keyframes displaymode_hamburger {
    0%{

    }
    100%{
        right: 0px;
    }
}