#Footer{
    top: calc(100% - 0px);
    display: flex;
    flex-direction: row;
    padding: 50px 50px 50px 50px;
    background: black;
    height: 400px;
    justify-content: space-between;
    width: 100%;
}

#Footer div{
    padding: 1%;
    width: 48%;
    white-space: initial;
}

#Footer div:last-child{
    border-left: white 1px solid;
}

#Footer *{
    white-space: initial;
    word-wrap: break-word
}